.appbanner{
    height:800px; 
    position:relative;
    background-image: url('../../../images/bg.png');
    background-size: cover;
}

.appheader-container::after{
    height:800px;
    z-index: -1;
    content:'';
    position: absolute;
    top:0;
    width:22%;
    right: 0;
    background-color: #3A4256;
}
